body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: white;
  padding: 30px;
  width: 90%;
  max-width: 350px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  margin-bottom: 10px;
}

button {
  margin-top: 15px;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background: #4CAF50;
  color: white;
  font-size: 15px;
}
