/* RESET */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* PAGE */
body {
  margin: 0;
  padding: 0;
  background: #1976d2;
}

/* MAIN CARD */
.container {
  width: 90%;
  max-width: 420px;
  background: #ffffff;
  margin: 40px auto;
  padding: 20px;
  border-radius: 14px;
}

/* HEADINGS */
h1, h2, h3 {
  text-align: center;
  color: #1976d2;
}

/* TEXT */
p {
  text-align: center;
  color: #444;
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  margin-top: 14px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #1976d2;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0d47a1;
}

/* OPTIONS (Quiz buttons) */
#options button {
  background: #eeeeee;
  color: #333;
  border: 1px solid #ccc;
}

#options button:hover {
  background: #e0e0e0;
}

/* RESULT */
#finalResult {
  margin-top: 15px;
  color: #333;
}

/* HIDE */
.hidden {
  display: none;
}
